@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
        <li class="list-group-item">SendingKey: @ViewBag.SendingKey</li>
        <li class="list-group-item">BottomSetting1: @ViewBag.BottomLevelSetting1 </li>
        <li class="list-group-item">BottomSetting2: @ViewBag.BottomLevelSetting2 </li>
  </ul>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Social Settion
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">FacebookKey1: @ViewBag.FacebookKey1</li>
        <li class="list-group-item">GoogleKey1: @ViewBag.GoogleKey1 </li>
        <li class="list-group-item">FacebookKey2: @ViewBag.FacebookKey1</li>
        <li class="list-group-item">GoogleKey2: @ViewBag.GoogleKey1 </li>
    </ul>
</div>